@page
@model Gesetz.Pages.PlayerSelectModel
@{
    ViewData["Title"] = "PlayerSelect";
    Layout = "~/Pages/Shared/_LayoutAllgemein.cshtml";
}

    <div class="container" style="margin-top: 3.5rem;">
        <!-- Form-Element ist notwendig, damit der button-Klick auch am Server ankommt -->
        <form method="post">
            <!-- Überschriften Row im selben container damit es bündig ist -->
            <div class="row justify-content-center">
                <div style="margin-bottom: 2rem; width: 24rem;">
                    <h2 class="font-weight-bold">
                        Wähle eine Rolle
                    </h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <!--Die Id="button-deaktiviert" ist um den Button zu deaktivieren sobalt das spielerlimit ereicht ist-->
                <!-- Diese Karte soll als Button funktionieren -->
                <button type="submit" asp-page-handler="Anklaeger" class="card menue-button tile button-anklage" 
                        id="@(Model.AnklaegerEnabled?null:"button-deaktiviert")"
                        disabled="@(Model.AnklaegerEnabled?null:"disabled")">
                    <div class="card-body">
                        <h5 class="text-center" style="margin: 0.4rem;">Ankläger</h5>
                    </div>
                </button>
            </div>

            <div class="row justify-content-center">
                <!-- Diese Karte soll als Button funktionieren -->
                <button type="submit" asp-page-handler="Verteidiger" class="card menue-button tile button-verteidigung" 
                        id="@(Model.VerteidigerEnabled?null:"button-deaktiviert")"
                        disabled="@(Model.VerteidigerEnabled?null:"disabled")">
                    <div class="card-body">
                        <h5 class="text-center" style="margin: 0.4rem;">Verteidiger</h5>
                    </div>
                </button>
            </div>

            <div class="row justify-content-center">
                <!-- Diese Karte soll als Button funktionieren -->
                <button type="submit" asp-page-handler="Richter" class="card menue-button tile button-gericht" 
                        id="@(Model.RichterEnabled?null:"button-deaktiviert")"
                        disabled="@(Model.RichterEnabled?null:"disabled")">
                    <div class="card-body">
                        <h5 class="text-center" style="margin: 0.4rem;">Richter</h5>
                    </div>
                </button>
            </div>

            <div class="row justify-content-center">
                <!-- Diese Karte soll als Button funktionieren -->
                <button type="submit" asp-page-handler="Oberrichter" class="card menue-button tile button-gericht" 
                        id="@(Model.OberrichterEnabled?null:"button-deaktiviert")"
                        disabled="@(Model.OberrichterEnabled?null:"disabled")">
                    <div class="card-body">
                        <h5 class="text-center" style="margin: 0.4rem;">Oberrichter</h5>
                    </div>
                </button>
            </div>

        </form>
    </div>
